{% extends 'layout/base.html'%}
{% load static%}
{% block content%}
<div class="container">
    <div class="row">
        <div class="col-12"><br>
            <h4 class='side-stick'>Admin area</h4>
        </div>
        <div class="col-12">
            {% for message in messages%}
					
            <div  {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>
                {{message}}
            </div>
            {%endfor%}
            <form method="POST" action="">
                {%csrf_token%}
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Payer's name" name="payer">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Receiver's name" name="receiver">
                </div>
                <div class="form-group">
                    <input class="form-control" type='number' placeholder="amount paid" name="amount">
                </div>
                <div class="form-group">
                    <input class="form-control" placeholder="transaction type" name="type">
                </div>
                <div class="form-group">
                    <input class="btn btn-danger" type="submit" value="Submit Request">
                </div>
            </form>
        </div>
    </div>
</div>
{%endblock%}