{%extends 'layout/base.html'%}
{% load static%}
{%block title%}
 Password Reset Done
{%endblock%}

{%block content%}
<div class="container">
    <div class="row">
        <div class="col-12">
            <br><h4 class="side-stick">Password Reset</h4>
        </div>
        <div class="col-12" style="text-align:center">
            {% if messages %}
            {% for message in messages %}
                <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <i class="fa fa-times"></i>
                    </button>
                    <span>
        {{ message }}
    </span>
                </div>
            {% endfor %}
        {% endif %}
            <p class='info-area'>Please type in your password twice and hit the update password button 
            </p> 
            <form method="POST" action="">
                {%csrf_token%}
                {{form}}
                <input type='submit' class="btn btn-success" value="Update Password">
            </form>
    </div>
</div>
{%endblock%}