{% extends 'layout/base.html'%}
{%load static %}
{%block title%} page not found{%endblock%}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12"><br>
            <h4 class="side-stick">Page not found</h4>
        </div><br>
        <div class="col-12" style="text-align:center;">
            <h6><h3 style="color:#0a8cff">Oops!</h3> page not found</h6>
            <p>You may have mistyped an address or the page may have been moved, click the home button below to go back to the homepage</p>
            <br><a href="/" class="boxed-btn3">Home</a>
        </div>
        

    </div>
</div>
{%endblock%}