{%extends 'layout/base.html'%}
{% load static%}
{%block title%}
 Password Reset
{%endblock%}

{%block content%}
<div class="container">
    <div class="row">
        <div class="col-12">
            <br><h4 class="side-stick">Lost Password</h4>
        </div>
        <div class="col-12" style="text-align:center">
            {% if messages %}
            {% for message in messages %}
                <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <i class="fa fa-times"></i>
                    </button>
                    <span>
        {{ message }}
    </span>
                </div>
            {% endfor %}
        {% endif %}
                <p class="info-area">Please insert your registered email address here and a link to change your 
                    password will be sent to the email address, if you don't see the email in your 
                    inbox  after a few minutes kindly check your spam folder.
                </p>

                        <form method='POST' action=''>
                            {%csrf_token%}
                            {{form}}
                            <input type='submit' class="btn btn-danger" value="Send">
                        </form>
    </div>
</div>
{%endblock%}