{%load static%}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Leverage Capital | {%block title%}{%endblock%}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="Investment, Money, trade bitcoin, return on investment, donation, provide help, make money online">
    <meta name="description"
          content="Make safe investments now and get 50% of your investments within 24 hours. No hassle no fuss.">
    <meta name="author" content="Leverage Capital">
    <meta name="robot" content="index, follow">
    <meta name="copyright" content="Copyright © 2020 Leverage Capital. All Rights Reserved.">
    <meta name="language" content="English">
    <meta name="revisit-after" content="1 days">
    <meta property="og:image" content="{% static 'img/logo2.png' %}"/>
    <meta property="og:image:type" content="image/png"/>
    <meta property="og:url"
    content="{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{{ request.get_absolute_url }}"/>
    <meta property="og:description"
        content="Make safe investments now and get 50% of your investments within 24 hours. No hassle no fuss."/>
    <meta property="og:title" content="Your wise investment choice"/>
    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/levefavicon.ico' %}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/nice-select.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'css/flaticon.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'css/gijgo.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/slick.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">

    <link rel="stylesheet" href="{%static 'css/style.css' %}">
    <link rel="stylesheet" href="{%static 'css/myapp.css' %}">
    {% block later_style%}{%endblock%}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
    <script>
        window.addEventListener("load", function () {
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#252e39"
                    },
                    "button": {
                        "background": "#14a7d0"
                    }
                },
                "theme": "classic"
            })
        });
    </script>
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body onload="myFunction()">
    <div id="loader"></div>
<div id="app" style="display:none;" class="animate-bottom">
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid ">
                    <div class="header_bottom_border">
                        <div class="row align-items-center">
                            <div class="col-xl-3 col-lg-2">
                                <div class="logo">
                                    <a href="/">
                                        <img src="{% static 'img/logo2.png' %}" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-7">
                                <div class="main-menu  d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li id="laptop"><a href="/">home</a></li>
                                            <li><a href="{% url 'testimony:testimony' %}">Testimonies</a></li>
                                            {% if request.user.is_authenticated%}
                                            <li><a href="{% url 'dashboard:donate' %}">Make Donation</a></li>
                                            <li><a href="{% url 'dashboard:dashboard' %}">Dashboard</a></li>
                                            <li><a href="#">Account <i class="ti-angle-down"></i></a>
                                                <ul class="submenu">
                                                    <li><a href="{% url 'dashboard:transactions' %}">Transactions</a></li>
                                                    <li><a href="{% url 'account:profile' %}">Profile</a></li>
                                                    <li><a href="{% url 'referral' %}">Referral</a></li>
                                                </ul>
                                            </li>
                                            <!-- <li><a href="#">blog <i class="ti-angle-down"></i></a>
                                                <ul class="submenu">
                                                    <li><a href="blog.html">blog</a></li>
                                                    <li><a href="single-blog.html">single-blog</a></li>
                                                </ul>
                                            </li> -->
                                            {%else%}
                                            <li><a href="{% url 'authentication:registration' %}">Register</a></li>
                                            <li><a href="{% url 'login-page' %}">Login </a></li>
                                            
                                            {%endif%}
                                            
                                            
                                            <li><a href="{% url 'faq' %}">Frequently Asked Questions</a></li>
                                            <li><a href="{% url 'support:support' %}">Support</a></li>
                                            {% if request.user.is_authenticated%}
                                            
                                            <li><a href="{% url 'authentication:logout-user' %}">Logout</a></li>
                                            
                                            {%endif%}
                                            {% if request.user.is_staff %}
                                            <li><a href="#">Admin <i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="{% url 'account:match' %}">Match Users</a></li>
                                                <li><a href="{% url 'dashboard:admin-confirm' %}">Confirm User</a></li>
                                            </ul>
                                            </li>
                                            
                                            {%endif%}
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                                <div class="Appointment">
                                    <!-- <div class="phone_num d-none d-xl-block">
                                        <a href="#"> <i class="fa fa-phone"></i> +10 673 567 367</a>
                                    </div> -->
                                    {% if request.user.is_authenticated%}
                                    <div class="d-none d-lg-block">
                                        
                                        <a class="boxed-btn4" href="apply.html">{{request.user.username}}</a>
                                    </div>
                                    {%endif%}
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="single_slider  d-flex align-items-center slider_bg_1">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-7 col-md-6">
                        <div class="slider_text">
                            <h3 class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".1s">Join the Fast Growing Peer to Peer Donation system</h3>
                            <div class="sldier_btn wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".2s">
                                {% if request.user.is_authenticated%}
                                <a href="{% url 'dashboard:donate' %}" class="boxed-btn3">Make Donation</a>
                                {%else%}
                                <a href="{% url 'faq' %}" class="boxed-btn3">Learn more</a>
                                {%endif%}
                            </div>
                        </div>
                    </div>
                    <!-- IRRELEVANT BOX -->
                    <!-- <div class="col-lg-5 col-md-6">
                        <div class="payment_form white-bg wow fadeInDown" data-wow-duration="1.2s" data-wow-delay=".2s">
                            <div class="info text-center">
                                <h4>How much do you want?</h4>
                                <p>We provide online instant cash loans with quick</p>
                            </div>
                            <div class="form">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="single_input">
                                            <select class="wide">
                                                <option data-display="Amount">Amount</option>
                                                <option value="1">$10</option>
                                                <option value="2">$40</option>
                                                <option value="3">$50</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="single_input">
                                            <select class="wide">
                                                <option data-display="Month">Month</option>
                                                <option value="1">3 Month</option>
                                                <option value="2">6 Month</option>
                                                <option value="3">9 Month</option>
                                                <option value="4">12 Month</option>
                                            </select>
                                         </div>
                                    </div>
                                </div>
                            </div>
                            <p>You have to pay: <span>$0</span></p>
                            <div class="submit_btn">
                                <button class="boxed-btn3" type="submit">Continue</button>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- slider_area_end -->
    
    {%block content%}
    {%endblock%}

    {%include 'layout/footer.html'%}

    {% block outer %} {% endblock %}
</div>
    {%include 'layout/scripts.html'%}
    {%block latter_js%}
    {%endblock%}
</body>

</html>